hands-on/_sandbox/
hands-on/ms/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / Coverage reports
htmlcov/
.tox/
.nosenv/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.poetry.lock

# Jupyter Notebook
.ipynb_checkpoints

# environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.refcheck